// PRIMARY COLORS
@seti-primary: @blue;
@seti-primary-text: @blue-text;
@seti-primary-highlight: @blue-highlight;
@seti-font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
